body {
    background: #1c1c1c;
    color: #f3f3f3;
    font-family: "Arial", serif;
    margin: 0;
}
h2 {
    margin: 5px 10px;
    padding: 10px 5px;
}
h3 {
    margin: 5px 10px;
    padding: 10px 5px;
}
.links a {
    color: #316eee;
    text-decoration: none;
}
.links ul {
    margin: 5px 10px;
    padding: 5px;
}
.links li {
    list-style-type: none;
    margin: 0;
    padding: 2px;
}
.topnav {
    background-color: #316EEE99;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #568cff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.topnav a:hover {
    background-color: #316EEE44;
    color: #94afff;
}
.topnav a.active {
    background-color: #316EEEDD;
    color: #94afff;
}

/*.images img {
    border: 4px solid #316eee99;
    border-radius: 12px;
    margin: auto;
    width: calc(100% - 8px);
}
.all {
    flex-direction: row;
    display: flex;
}
.images {
flex-basis: 600px;
    margin: 20px;
}
.text {
    margin: 20px;
}
.text p {
    margin: 0;
}*/

.row {
    display: flex;
    border: 4px solid #316eee;
    border-radius: 25px;
    margin: 10px 25px;
    background-color: #316eee;
}
.row img {
    width: 100%;
    margin-bottom: -4px;
    border-radius: 25px;
}
.image {
    flex-basis: 600px;
    max-width: 50%;
    flex-shrink: 0;
}
.text {
    padding: 20px;
    color: #c6d4ff;
    font-size: larger;
}
