html {
    background: #1c1c1c;
    color: #f3f3f3;
}
h1 {
    border-radius: 20px;
    background: #f3f3f333;
    padding: 5px 10px;
}
h3 {
    padding: 0 5px;
    margin: 0 5px;
}
a {
    color: #316eee;
    text-decoration: none;
    padding: 5px;
}
a:hover {
    color: #6089ec;
}
li {
    padding: 2px;
}
ul {
    list-style-type: none;
    padding: 0 20px;
    margin: 10px 0;
}
div {
    margin: 20px 5px;
}